<ion-view view-title="Account">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Information
            </div>
            <div class="item item-text-wrap">
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Open Source Libraries and Technologies Used
            </div>
            <div class="item item-text-wrap">
            	
            </div>
        </div>
    </ion-content>
</ion-view>
